<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.dao.ImageDAO">

<insert id="insertData" parameterType="ImageDTO">
	insert into imageTest(num,subject,saveFileName,originalFileName)
	values(#{num},#{subject},#{saveFileName},#{originalFileName})
</insert>

<select id="maxNum" resultType="int">
	select nvl(max(num),0) from imageTest
</select>

<select id="dataCount" resultType="int">
	select nvl(count(*),0) from imageTest
</select>

<select id="listData" resultType="ImageDTO" parameterType="map">
<![CDATA[
	select * from (
	select rownum rnum, data.* from(
	select num,subject,saveFileName,originalFileName
	from imageTest order by num desc) data)
	where rnum >= #{start} and rnum <= #{end}
]]>
</select>

<select id="readData" resultType="ImageDTO" parameterType="int">
	select num,subject,saveFileName,originalFileName 
	from imageTest where num=#{num}
</select>

<delete id="deleteData" parameterType="int">
	delete imageTest where num=#{num}
</delete>


</mapper>